software/firmware_module/module_universal/build/*
software/firmware_module/module_universal/build
software/firmware_module/module_universal/eeprom.hex
software/pc_client/build/*
software/pc_client/build
hardware/module_controller/ModuleController-backups/*
hardware/module_controller/ModuleController-backups
hardware/module_controller/~*.lck
software/pc_client/*.json
cad/Schematics/module_controller/ModuleController-backups/*
cad/Schematics/splitflap-backplane/splitflap-backplane-backups/s*
*.lck
*autosave*
*auto_save*
*cache*
*.o
