software/firmware_module/module_rev0/build/*
software/firmware_module/module_rev0/build
software/pc_client/build/*
software/pc_client/build
hardware/module_controller/ModuleController-backups/*
hardware/module_controller/ModuleController-backups
hardware/module_controller/~*.lck